

<section class="Sub-header">
    <nav>
        <div class="imlogo">
            <img src="/assets/img/smart-scanWhite.svg" style="height: 50px;" >

        </div>


        <div class="nav-links" id="navLinks">


            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index1.html">HOME</a></li>

                <li><a href="index3.html">ABOUT</a></li>

                <li><a href="#">TEAM</a></li>
                <li><a href="index4.html">CONTACT</a></li>

            </ul>

         </div>





    </nav>
    <br><br><br>



        <div class=" container">
            <h6 class="text11">If you can't   <span class="scan">Scan</span> it..</h6>
             <span class="text22">You can't move in</span>


        </div>

</section>
<section>
    <!-- About page -->
    <div class="row">
        <!-- about left side-->
        <div class="col-md-6"  style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <div id="about-left">
                <div class="vertical-heading">
                    <h5>Who We Are</h5>
                    <div class="us">
                        <h2>A <strong>Story</strong><br>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- about right side-->
        <div class="col-md-6"  >
            <div id="about-right">
                <p>Our project aims to Build an Intelligent QR Scanner to maintain
                    access control and organization which is becoming increasingly requested
                    in the management of several applications such as security,
                    management of inputs/outputs and supervision of specific sites.
                <p class="second-child">Indeed, this technology increases the level of existing quality in the world
                    of control and artificial intelligence.
                    It represents itself as a mixture between several fields</p>
            </div>
            <div id="about-bottom">
                <img src="#" class="img-fluid" alt="Project-img">
            </div>
        </div>
    </div>




    <!-- end About page -->

</section>
<div class="pad">

</div>
<section>


<!-- TEAM -->
<div class="col-md-6 ">
    <!-- team left-->
    <div id="content-box-lg" class="tasl">
        <div class="vertical-heading">
            <h5>Who We Are</h5>
            <h2>Meet Our <br><strong>Talented</strong>Team</h2>
        </div>
        <div class="team-text">
                <p>Lorem ipsum dolor Consequuntur est alias consectetur officiis adipisci deserunt sit
                temporibus error, ullam voluptas tempore eos omnis eius reprehenderit rem? Tempore
                corporis aspernatur ipsam!</p>
        </div>

    </div>
    <div class="marg">
    </div>
    <div class="col-md-6">
        <div style = "margin-left: 55vw;border:1px solid white;width: 10%;">
            <div>    
                <img style="padding:5px;margin-left: 17vw;margin-top: 6.5vh;position:absolute;border: 2px solid black;" width = 15% src="assets/img/1.jpg">
            </div>
            <div>
                <img style="padding:5px;margin-left: 0%;position:absolute;border: 2px solid black;" width = 15% src="assets/img/2.png">
            </div>
        </div>
    </div>

</div>
</section>
<div class="marg">
</div>
<section>


  <div class="row" id="kbir">
        <div class="col-md-6 ">
            <!-- team left-->
            <div id="content-box-lg" class = "ysar">
                <div class="vertical-heading">
                    <h5>who We are </h5>
                    <h2>Get <br>In <strong>Touch</strong></h2>
                </div>
                <div class="team-text">
                        <p>Lorem ipsum dolor Consequuntur est alias consectetur officiis adipisci deserunt sit
                        temporibus error, ullam voluptas tempore eos omnis eius reprehenderit rem? Tempore
                        corporis aspernatur ipsam!</p>
                </div>
                <!-- numéro -->
                <div id="offices">
                    <div class="row" style="margin-left: 50px;width: 500px;">
                        <div class="col-md-6">
                            <div class="office">
                                <h4 style="margin-left: 30px;font-size: 18px;"><b>Tunisia</b></h4>
                                <ul class="office-details">
                                    <li><i class="fas fa-mobile-alt"></i><span>+(216)71728453</span></li>
                                    <li><i class="fas fa-envelope"></i>support@solo.com</li>
                                    <li><i class="fas fa-map-marker-alt"></i><span>55 Mina Steet  <br>
                                            NewYork , USA .</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="office">
                                <h4 style="margin-left: 40px;font-size: 18px;"><b>Social Media</b> </h4>
                                <ul class="office-details">
                                    <li><i class="fas fa-mobile-alt"></i><span></span></li>
                                    <li><i class="fas fa-envelope"></i>support@solo.com</li>
                                    <li><i class="fas fa-map-marker-alt"></i><span>500 Mina Steet  <br>
                                            Sadney , Australia.</span></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- end numéro -->
    
            </div>
            
            <div class="col-md-6">
                <div class="col-md-6">
                    <!-- contact right-->
                    <div id="contact-right">
                        <form>
                            <h4>Send Message</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adip soluta corrupti repudiandae cupi</p>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder=" Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder=" Your Email address">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder=" Your Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder=" subject">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                            <div id="contact-btn">
                                <a href="#" title="Submit" class="btn btn-generale btn-yellow" role="button">Submit</a>
                            </div>
                        </form>
                    </div>
                </div>

    </div>
    
    
        </div>
    
    </div>
    </section>








